{% load staticfiles %}
<html>
    <head>
    	<title>GDE</title>

		<meta charset="UTF-8" />
	    <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
	    <link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
	    <!--Import Google Icon Font-->
      	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      	<link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
	    <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.css' %}" media="screen,projection">

		<link rel="stylesheet" href="{% static 'css/app.css' %}">


    </head>
    <body class = "backgroundColor">
        <div class="page-header">
            <nav>
                <div class="nav-wrapper blue-grey darken-4">
                    <a href="/home" class="brand-logo logo">GDE</a>
                    {% if user.is_authenticated %}
                        <ul class="right hide-on-med-and-down">
                            <li><a href="{% url 'app.views.user_detail' pk=user.pk%}">Minha Conta</a></li>
                            <li><a href="{% url 'django.contrib.auth.views.logout' %}">Logout</a></li>
                        </ul>
                    {% else %}
                        <ul class="right hide-on-med-and-down">
                          <li><a href="{% url 'app.views.cadastroUsuario' %}">Cadastre-se</a></li>
                        </ul>
                    {% endif %}
                </div>
            </nav>
        </div>
        <div class="container">
            {% block content %}
        </div>
        {% endblock %}
        <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
    </body>
</html>