{% extends 'base.html' %}
{% block title %}EspecieDocumental{% endblock %}

{% block content %}
    <div id="content-container" class="container p-none">
       <div class="lgn-container col-lg-8">
            <form id="especieDocumental-edit" method="post"
                  action="{% url 'app.views.especieDocumental_edit' pk=especieDocumental.pk %}">
                {% csrf_token %}

                <br/><br/>
                    <div class="input-fiel">
                        <label for="nome">Espécie Documental</label>
                        <input type="text" id="nome" class="validate" name="nome" value="{{ especieDocumental.nome }}">
                    </div>

                    <div class="row">
                        <button class="btn right orange darken-4" type="submit">Salvar</button>
                        <input type="hidden" name="next" value="/especiesDocumentais_list" />
                    </div>
            </form>
        </div>
    </div>
{% endblock content %}